#main {
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    margin: 10px;
}

header {
    background-color: lightblue;
    display: flex;
    justify-content: flex-end;
}

h1 {
    margin-right: 500px

}

h3 {
    color: white;


}

li {
    list-style: none;
}

ul {
    margin: 0px;
}



.col-12 {
    border-style: solid;
    min-height: 200px;
    border-radius: 8px;
    border-width: 2px;
}

.five-day {
    background-color: darkviolet;
    margin: 10px;
    
}

.row {
   width: 100%;
}

#scroll-container {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #8080806e;
    padding-bottom: 10px;
}

.local-storage {
    display: flex;
    margin-top: 5px;
    flex-direction: column;
}

.previous-city-button {
    margin-top: 10px;
    background-color: #808080a3;
    border-style: none;
}


