#main {
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    margin: 10px;
}

header {
    background-color: lightblue;
    display: flex;
    justify-content: flex-end;
}

h1 {
    margin-right: 500px

}

h3 {
    color: white;


}

li {
    list-style: none;
}

.col-12 {
    border-style: solid;
    min-height: 100px;
    border-radius: 8px;
    border-width: 2px;
}

.col-2 {
    background-color: darkviolet;
    margin: 10px;
    
}

.row {
   width: 100%;
}

#scroll-container {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #8080806e;
}